.colorGreen {
    background-color: rgb(179, 255, 103);
}

.colorYellow {
    background-color: rgb(255, 255, 131);
}

.colorRed {
    background-color: rgb(255, 148, 148);
}

.colorPurple {
    background-color: rgb(175, 153, 255);
}

.colorTurqoise {
    background-color: rgb(121, 253, 240);
}